@page "{searchString?}"
@model Final_Project_CarBag.Pages.SellerCars.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
h1 {text-align: center;}
p {text-align: center;}
body {
  background-color: navy;
}
h1 {
  color: white;
}
tbody {
  color: white;
}
a {
  color: white;
}
</style>

<h1>Welcome to CarBag</h1>

<p>
    <a asp-page="Create">Post a Car to Sell</a>
</p>
<form>
    <p>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @{

                    var firstSort = "first_asc";
                    if (Model.CurrentSort == "first_asc")
                    {
                        firstSort = "first_desc";
                    }
                }
                <a asp-page="./Index" asp-route-PageNum="@(Model.PageNum)"  asp-route-CurrentSort=@firstSort asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.Car[0].Make)</a>
            </th>
            <th>
                @{

                    var secondSort = "second_asc";
                    if (Model.CurrentSort == "second_asc")
                    {
                        secondSort = "second_desc";
                    }
                }
                <a asp-page="./Index" asp-route-PageNum="@(Model.PageNum)"  asp-route-CurrentSort="@secondSort">@Html.DisplayNameFor(model => model.Car[0].Model)</a>
            </th>
            <th>
                @{

                    var thirdSort = "third_asc";
                    if (Model.CurrentSort == "third_asc")
                    {
                        thirdSort = "third_desc";
                    }
                }
                <a asp-page="./Index" asp-route-PageNum="@(Model.PageNum)"  asp-route-CurrentSort="@thirdSort">@Html.DisplayNameFor(model => model.Car[0].Color)</a>
            </th>
            <th>
                @{

                    var fourthSort = "fourth_asc";
                    if (Model.CurrentSort == "fourth_asc")
                    {
                        fourthSort = "fourth_desc";
                    }
                }
                <a asp-page="./Index" asp-route-PageNum="@(Model.PageNum)"  asp-route-CurrentSort="@fourthSort">@Html.DisplayNameFor(model => model.Car[0].Year)</a>
            </th>
            <th>
                @{

                    var fifthSort = "fifth_asc";
                    if (Model.CurrentSort == "fifth_asc")
                    {
                        fifthSort = "fifth_desc";
                    }
                }
                <a asp-page="./Index" asp-route-PageNum="@(Model.PageNum)"  asp-route-CurrentSort="@fifthSort">@Html.DisplayNameFor(model => model.Car[0].Mileage)</a>
            </th>
            <th>
                @{

                    var sixthSort = "sixth_asc";
                    if (Model.CurrentSort == "sixth_asc")
                    {
                        sixthSort = "sixth_desc";
                    }
                }
                <a asp-page="./Index" asp-route-PageNum="@(Model.PageNum)"  asp-route-CurrentSort="@sixthSort">@Html.DisplayNameFor(model => model.Car[0].Price)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.CarID">Details</a> |
                <a asp-page="./Buy" asp-route-id="@item.CarID">Buy</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-CurrentSort=@(Model.CurrentSort) asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item"><a class="page-link" asp-page="./Index" asp-route-CurrentSort=@(Model.CurrentSort) asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>